/* Full Screen Background */
.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #d6619c, #031235);
  font-family: Arial, Helvetica, sans-serif;
}

/* Main Card */
.login-data {
  width: 850px;
  max-width: 95%;
  background: #fff;
  border-radius: 15px;
  display: flex;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

/* Left Image Section */
.pic {
  flex: 1;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pic img
{
    width:193px;
}

/* Right Login Form */
.login-page {
  flex: 1;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Form Labels */
.email-data,
.password-data {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
}

/* Input Fields */
.email-input,
.password-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  transition: 0.3s;
  font-size: 14px;
}

.email-input:focus,
.password-input:focus {
  border-bottom: 2px solid #d6619c;
}

/* Button */
.btn-save {
  margin-top: 40px;
  padding: 12px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(180deg, #d6619c, #1a08e5);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  width:299px;
}

.btn-save:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}
