/* Full page background */
.passcode-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 background: linear-gradient(110deg, #d87171e0,#013C58);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -37px;
}

/* Card box */
.passcode-data {
  background: #ffffff;
  padding: 40px 35px;
  width: 380px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* Main heading */
.pass-code {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
  font-weight: bold;
}
.admin img
{
    height:129px;
    width:158px;
    border:1px solid rgb(121, 119, 119);
    border-radius: 75px;
    margin-left: 91px;
}
/* Label headings */
.current-data,
.new-data,
.confirm-data {
  font-size: 14px;
  margin-bottom: 6px;
  margin-top: 12px;
  color: #555;
}

/* Input fields */
.current-input,
.new-input,
.confirm-input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  transition: 0.3s ease;
}

/* Input focus effect */
.current-input:focus,
.new-input:focus,
.confirm-input:focus {
  border-color: #4e73df;
  box-shadow: 0 0 5px rgba(78, 115, 223, 0.4);
}

/* Submit button */
.btn-submit {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
   background: linear-gradient(110deg, #d87171e0,#013C58);
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

/* Hover effect */
.btn-submit:hover {
  background-color: #2e59d9;
}

/* Active effect */
.btn-submit:active {
  transform: scale(0.98);
}
.arrow-left a
{
  text-decoration: none;
  color:black;
}